In [ ]:
# https://www.kaggle.com/code/mariekaram/apriori-association-rule
# https://www.kaggle.com/code/ekrembayar/apriori-association-rules-grocery-store

In [ ]:
# https://hezzong.tistory.com/23
# 연관 규칙 분석이란 어떤 두 아이템 집합이 번번히 발생하는가를 알려주는 일련의 규칙들을 생성하는 알고리즘이다 = 장바구니 분석(Market Basket Analysis)
# 최근 인터넷 쇼핑 및 상품 진열 등 다양한 컨텐츠 기반 추천(contents-based recommendation)에 널리 사용되고 있는 이 연관규칙분석 알고리즘에 대해 알아보고자 한다.

# 지지도(support) : 한 거래 항목 안에 A와 B를 동시에 포함하는 거래의 비율. 지지도는 A와 B가 함께 등장할 확률이다. 전체 거래의 수를 A와 B가 동시에 포함된 거래수를 나눠주면 구할 수 있다.
# 신뢰도(confidence) : 항목 A가 포함하는 거래에 A와 B가 같이포함될 확률. 신뢰도는 조건부 확률과 유사하다. A가 일어났을 때 B의 확률이다. A의 확률을 A와 B가 동시에 포함될 확률을 나눠주면 구할 수 있다.
# 향상도(lift) : A가 주어지지 않을 때의 품목 B의 확률에 비해 A가 주어졌을 때 품목 B의 증가 비율. B의 확률이 A가 일어났을 때 B의 확률을 나눴을 때 구할 수 있다. lift 값은 1이면 서로 독립적인 관계이며1보다 크면 두 품목이 서로 양의 상관관계, 1보다 작으면 두 품목이 서로 음의 상관관계이다. A와 B가 독립이면 분모, 분자가 같기 때문에 1이 나온다.

In [3]:
import pandas as pd

df = pd.read_csv("E:/Kaggle_Practice/Grocery Products Purchase/Grocery Products Purchase.csv")
df.head()

,Product 1,Product 2,Product 3,Product 4,Product 5,Product 6,Product 7,Product 8,Product 9,Product 10,...,Product 23,Product 24,Product 25,Product 26,Product 27,Product 28,Product 29,Product 30,Product 31,Product 32
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(9835, 32)

In [7]:
name = pd.read_csv("E:/Kaggle_Practice/Grocery Products Purchase/GroceryStoreDataSet.csv", names=['products'],header=None)
name

                          products
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

In [9]:
name.values

array([['MILK,BREAD,BISCUIT'],
       ['BREAD,MILK,BISCUIT,CORNFLAKES'],
       ['BREAD,TEA,BOURNVITA'],
       ['JAM,MAGGI,BREAD,MILK'],
       ['MAGGI,TEA,BISCUIT'],
       ['BREAD,TEA,BOURNVITA'],
       ['MAGGI,TEA,CORNFLAKES'],
       ['MAGGI,BREAD,TEA,BISCUIT'],
       ['JAM,MAGGI,BREAD,TEA'],
       ['BREAD,MILK'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,COCK,BISCUIT,CORNFLAKES'],
       ['COFFEE,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,COCK'],
       ['BREAD,SUGER,BISCUIT'],
       ['COFFEE,SUGER,CORNFLAKES'],
       ['BREAD,SUGER,BOURNVITA'],
       ['BREAD,COFFEE,SUGER'],
       ['BREAD,COFFEE,SUGER'],
       ['TEA,MILK,COFFEE,CORNFLAKES']], dtype=object)

In [10]:
data = list(name["products"].apply(lambda x:x.split(',')))
data

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [11]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_data = te.fit(data).transform(data)
df = pd.DataFrame(te_data,columns=te.columns_)
df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True
5,False,True,True,False,False,False,False,False,False,False,True
6,False,False,False,False,False,True,False,True,False,False,True
7,True,False,True,False,False,False,False,True,False,False,True
8,False,False,True,False,False,False,True,True,False,False,True
9,False,False,True,False,False,False,False,False,True,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,True,False,False,True,True,True,False,False,False,False,False
12,False,True,False,False,True,False,False,False,False,True,False
13,False,False,True,True,True,False,False,False,False,False,False
14,True,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,True,True,False,False,False,True,False
16,False,True,True,False,False,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,True,False,True,False,False,False,False,True,False
19,False,False,False,False,True,True,False,False,True,False,True

In [13]:
from mlxtend.frequent_patterns import apriori

df1 = apriori(df,min_support=0.01,use_colnames=True)
df1.sort_values(by="support",ascending=False)

    support                         itemsets
2      0.65                          (BREAD)
4      0.40                         (COFFEE)
0      0.35                        (BISCUIT)
10     0.35                            (TEA)
5      0.30                     (CORNFLAKES)
..      ...                              ...
55     0.05      (BISCUIT, MILK, CORNFLAKES)
57     0.05        (SUGER, BREAD, BOURNVITA)
17     0.05                 (BISCUIT, SUGER)
37     0.05              (MAGGI, CORNFLAKES)
82     0.05  (TEA, MILK, COFFEE, CORNFLAKES)

[83 rows x 2 columns]

In [14]:
df1['length'] = df1['itemsets'].apply(lambda x:len(x))
df1

    support                             itemsets  length
0      0.35                            (BISCUIT)       1
1      0.20                          (BOURNVITA)       1
2      0.65                              (BREAD)       1
3      0.15                               (COCK)       1
4      0.40                             (COFFEE)       1
..      ...                                  ...     ...
78     0.05         (BISCUIT, TEA, MAGGI, BREAD)       4
79     0.10  (BISCUIT, COCK, COFFEE, CORNFLAKES)       4
80     0.05            (JAM, MILK, MAGGI, BREAD)       4
81     0.05             (JAM, TEA, MAGGI, BREAD)       4
82     0.05      (TEA, MILK, COFFEE, CORNFLAKES)       4

[83 rows x 3 columns]

In [15]:
df1[(df1['length']==2) & (df1['support']>=0.05)]

    support               itemsets  length
11     0.20       (BISCUIT, BREAD)       2
12     0.10        (BISCUIT, COCK)       2
13     0.10      (BISCUIT, COFFEE)       2
14     0.15  (BISCUIT, CORNFLAKES)       2
15     0.10       (BISCUIT, MAGGI)       2
16     0.10        (BISCUIT, MILK)       2
17     0.05       (BISCUIT, SUGER)       2
18     0.10         (BISCUIT, TEA)       2
19     0.15     (BREAD, BOURNVITA)       2
20     0.05    (COFFEE, BOURNVITA)       2
21     0.10     (SUGER, BOURNVITA)       2
22     0.10       (TEA, BOURNVITA)       2
23     0.05          (COCK, BREAD)       2
24     0.15        (COFFEE, BREAD)       2
25     0.05    (CORNFLAKES, BREAD)       2
26     0.10           (JAM, BREAD)       2
27     0.15         (MAGGI, BREAD)       2
28     0.20          (MILK, BREAD)       2
29     0.20         (SUGER, BREAD)       2
30     0.20           (TEA, BREAD)       2
31     0.15         (COCK, COFFEE)       2
32     0.10     (COCK, CORNFLAKES)       2
33     0.20   (COFFEE, CORNFLAKES)       2
34     0.05         (MILK, COFFEE)       2
35     0.20        (COFFEE, SUGER)       2
36     0.05          (TEA, COFFEE)       2
37     0.05    (MAGGI, CORNFLAKES)       2
38     0.10     (MILK, CORNFLAKES)       2
39     0.05    (SUGER, CORNFLAKES)       2
40     0.10      (TEA, CORNFLAKES)       2
41     0.10           (JAM, MAGGI)       2
42     0.05            (JAM, MILK)       2
43     0.05             (JAM, TEA)       2
44     0.05          (MAGGI, MILK)       2
45     0.20           (MAGGI, TEA)       2
46     0.05            (TEA, MILK)       2

In [16]:
len(df1[(df1['length']==2) & (df1['support']>=0.05)])

36

## 두번째 방법

In [22]:
df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True
5,False,True,True,False,False,False,False,False,False,False,True
6,False,False,False,False,False,True,False,True,False,False,True
7,True,False,True,False,False,False,False,True,False,False,True
8,False,False,True,False,False,False,True,True,False,False,True
9,False,False,True,False,False,False,False,False,True,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,True,False,False,True,True,True,False,False,False,False,False
12,False,True,False,False,True,False,False,False,False,True,False
13,False,False,True,True,True,False,False,False,False,False,False
14,True,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,True,True,False,False,False,True,False
16,False,True,True,False,False,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,True,False,True,False,False,False,False,True,False
19,False,False,False,False,True,True,False,False,True,False,True

In [21]:
# True, False로 되어있는 데이터를 True = 1. False = 0으로 변환하기

df.astype(int)

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,1,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,1,1,0,0
4,1,0,0,0,0,0,0,1,0,0,1
5,0,1,1,0,0,0,0,0,0,0,1
6,0,0,0,0,0,1,0,1,0,0,1
7,1,0,1,0,0,0,0,1,0,0,1
8,0,0,1,0,0,0,1,1,0,0,1
9,0,0,1,0,0,0,0,0,1,0,0
10,1,0,0,1,1,1,0,0,0,0,0
11,1,0,0,1,1,1,0,0,0,0,0
12,0,1,0,0,1,0,0,0,0,1,0
13,0,0,1,1,1,0,0,0,0,0,0
14,1,0,1,0,0,0,0,0,0,1,0
15,0,0,0,0,1,1,0,0,0,1,0
16,0,1,1,0,0,0,0,0,0,1,0
17,0,0,1,0,1,0,0,0,0,1,0
18,0,0,1,0,1,0,0,0,0,1,0
19,0,0,0,0,1,1,0,0,1,0,1

In [24]:
# If we divide all items with row number, we can find Support value. Our threshold value is 0.2 for Support value.

first = pd.DataFrame(df.sum() / df.shape[0], columns = ["Support"]).sort_values("Support", ascending = False)
first

            Support
BREAD          0.65
COFFEE         0.40
BISCUIT        0.35
TEA            0.35
CORNFLAKES     0.30
SUGER          0.30
MAGGI          0.25
MILK           0.25
BOURNVITA      0.20
COCK           0.15
JAM            0.10

In [25]:
# Elimination by Support Value
first[first.Support >= 0.15]

            Support
BREAD          0.65
COFFEE         0.40
BISCUIT        0.35
TEA            0.35
CORNFLAKES     0.30
SUGER          0.30
MAGGI          0.25
MILK           0.25
BOURNVITA      0.20
COCK           0.15

In [28]:
# Second = Find support values for pair product combinations.

import itertools
from itertools import combinations

second = list(itertools.combinations(first.index, 2))
second = [list(i) for i in second]
# Sample of combinations
second[:10]

[['BREAD', 'COFFEE'],
 ['BREAD', 'BISCUIT'],
 ['BREAD', 'TEA'],
 ['BREAD', 'CORNFLAKES'],
 ['BREAD', 'SUGER'],
 ['BREAD', 'MAGGI'],
 ['BREAD', 'MILK'],
 ['BREAD', 'BOURNVITA'],
 ['BREAD', 'COCK'],
 ['BREAD', 'JAM']]

In [29]:
# Finding support values
value = []
for i in range(0, len(second)):
    temp = df.T.loc[second[i]].sum() 
    temp = len(temp[temp == df.T.loc[second[i]].shape[0]]) / df.shape[0]
    value.append(temp)
# Create a data frame            
secondIteration = pd.DataFrame(value, columns = ["Support"])
secondIteration["index"] = [tuple(i) for i in second]
secondIteration['length'] = secondIteration['index'].apply(lambda x:len(x))
secondIteration = secondIteration.set_index("index").sort_values("Support", ascending = False)
# Elimination by Support Value
secondIteration = secondIteration[secondIteration.Support > 0.1]
secondIteration

                       Support  length
index
(TEA, MAGGI)              0.20       2
(BREAD, TEA)              0.20       2
(BREAD, SUGER)            0.20       2
(BREAD, MILK)             0.20       2
(BREAD, BISCUIT)          0.20       2
(COFFEE, CORNFLAKES)      0.20       2
(COFFEE, SUGER)           0.20       2
(BREAD, COFFEE)           0.15       2
(BREAD, MAGGI)            0.15       2
(BREAD, BOURNVITA)        0.15       2
(COFFEE, COCK)            0.15       2
(BISCUIT, CORNFLAKES)     0.15       2

In [37]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

itemset = apriori(df, min_support=0.1, use_colnames=True)
itemset.sort_values("support", ascending = False)

    support                             itemsets
2      0.65                              (BREAD)
4      0.40                             (COFFEE)
0      0.35                            (BISCUIT)
10     0.35                                (TEA)
5      0.30                         (CORNFLAKES)
9      0.30                              (SUGER)
7      0.25                              (MAGGI)
8      0.25                               (MILK)
30     0.20                      (COFFEE, SUGER)
34     0.20                         (MAGGI, TEA)
11     0.20                     (BISCUIT, BREAD)
29     0.20                 (COFFEE, CORNFLAKES)
26     0.20                         (TEA, BREAD)
25     0.20                       (SUGER, BREAD)
24     0.20                        (MILK, BREAD)
1      0.20                          (BOURNVITA)
21     0.15                      (COFFEE, BREAD)
27     0.15                       (COCK, COFFEE)
23     0.15                       (MAGGI, BREAD)
3      0.15                               (COCK)
18     0.15                   (BREAD, BOURNVITA)
14     0.15                (BISCUIT, CORNFLAKES)
19     0.10                   (SUGER, BOURNVITA)
44     0.10           (COCK, COFFEE, CORNFLAKES)
43     0.10                  (MAGGI, TEA, BREAD)
42     0.10                  (JAM, MAGGI, BREAD)
41     0.10               (COFFEE, SUGER, BREAD)
40     0.10              (TEA, BREAD, BOURNVITA)
39     0.10                (BISCUIT, TEA, MAGGI)
38     0.10        (BISCUIT, COFFEE, CORNFLAKES)
37     0.10          (BISCUIT, COCK, CORNFLAKES)
36     0.10              (BISCUIT, COCK, COFFEE)
35     0.10               (BISCUIT, MILK, BREAD)
32     0.10                    (TEA, CORNFLAKES)
33     0.10                         (JAM, MAGGI)
20     0.10                     (TEA, BOURNVITA)
31     0.10                   (MILK, CORNFLAKES)
6      0.10                                (JAM)
12     0.10                      (BISCUIT, COCK)
28     0.10                   (COCK, CORNFLAKES)
13     0.10                    (BISCUIT, COFFEE)
15     0.10                     (BISCUIT, MAGGI)
16     0.10                      (BISCUIT, MILK)
17     0.10                       (BISCUIT, TEA)
22     0.10                         (JAM, BREAD)
45     0.10  (BISCUIT, COCK, COFFEE, CORNFLAKES)

In [40]:
from mlxtend.frequent_patterns import association_rules
z = association_rules(itemset, metric="confidence", min_threshold=0.1) 
z.sort_values("lift", ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
116,"(COCK, CORNFLAKES)","(BISCUIT, COFFEE)",0.10,0.10,0.10,1.000000,10.000000,0.090,inf
113,"(BISCUIT, COFFEE)","(COCK, CORNFLAKES)",0.10,0.10,0.10,1.000000,10.000000,0.090,inf
119,(COCK),"(BISCUIT, COFFEE, CORNFLAKES)",0.15,0.10,0.10,0.666667,6.666667,0.085,2.700000
110,"(BISCUIT, COFFEE, CORNFLAKES)",(COCK),0.10,0.15,0.10,1.000000,6.666667,0.085,inf
55,"(BISCUIT, COFFEE)",(COCK),0.10,0.15,0.10,1.000000,6.666667,0.085,inf
...,...,...,...,...,...,...,...,...,...
96,"(MAGGI, TEA)",(BREAD),0.20,0.65,0.10,0.500000,0.769231,-0.030,0.700000
5,(COFFEE),(BISCUIT),0.40,0.35,0.10,0.250000,0.714286,-0.040,0.866667
4,(BISCUIT),(COFFEE),0.35,0.40,0.10,0.285714,0.714286,-0.040,0.840000
21,(BREAD),(COFFEE),0.65,0.40,0.15,0.230769,0.576923,-0.110,0.780000
20,(COFFEE),(BREAD),0.40,0.65,0.15,0.375000,0.576923,-0.110,0.560000