In [ ]:
# lpay 데이터 셋의 'de_dt' 컬럼에 value별로 몇개가 있는지 갯수 count 하고싶을때

lpay['de_dt'].value_counts()

### z01,z02, z03.. 이렇게 순서대로 정렬하고 싶으면 sort_values()

In [ ]:
# pdde 파일의 'rct_no' 컬럼에 '47192703' 문자가 들어있는 row 출력하기
# 471920703 만 들어가면 다 출력 예) io471920703 가능
# dtype이 문자열(object, string)일때만 가능

pdde[pdde['rct_no'].str.contains('471920703')]

### object형이나 int형 날짜를 datetime형으로 바꾸기 / 새로운 컬럼을 만들어서 년/월 폼으로 바꿔 넣기

In [ ]:
# results['payment_tm'] 컬럼을 하나 만들어서 년/월 폼으로 바꿔서 넣기

results['de_dt'] = pd.to_datetime(results['de_dt'], format='%Y%m%d')
results['payment_tm'] = results['de_dt'].dt.strftime("%Y-%m")

### 한글 폰트 사용을 위한 세팅

In [ ]:
font_path = "C:/Users/katenam/AppData/Local/Microsoft/Windows/Fonts/malgun.ttf"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [ ]:
# 대용량 데이터 히트맵 다 나오게 출력
# 한글 컬럼 출력

from matplotlib import colors
font_path = "C:/Users/katenam/AppData/Local/Microsoft/Windows/Fonts/malgun.ttf"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

cmap = colors.ListedColormap(["#682F2F", "#9E726F", "#D6B2B1", "#B9C0C9", "#9F8A78", "#F3AB60"])

corr = data.corr()
plt.figure(figsize=(20,20))  
sns.heatmap(corr,annot=True, cmap=cmap, center=0)

### 중독되는 값이 있는지 확인

In [ ]:
# https://dev.to/svinci/intersection-union-and-difference-of-sets-in-python-4gkn

b3 = list(set(lpay_cust).intersection(pdde_cust))

### Python Visualizations

In [ ]:
# https://www.kaggle.com/code/desalegngeb/plotly-guide-customize-for-better-visualizations
# https://www.kaggle.com/code/parulpandey/geek-girls-rising-myth-or-reality
# https://www.kaggle.com/code/imdevskp/covid-19-analysis-visualization-comparisons

### describe() 소수점 둘째자리까지 나오게 하기

In [ ]:
pd.set_option('display.float_format','{:,.2f}'.format)
pdde.describe()

### outlier 찾기

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(10,4))
plt.xlim(-100, 150)
sns.boxplot(x=pdde.buy_ct)

### 얼마나 걸렸는지 시간을 보고싶을때(simple data)

In [ ]:
%%time

### Series에서 DataFrame으로 변환

In [ ]:
# Series name.to_frame(name='컬럼명')

p.to_frame(name='lpay_num')

### 데이터 프레임 index 이름 변환

In [ ]:
# DataFrame name.index.names = ['바꿀이름']

u.index.names = ['cust']

### csv로 데이터 저장 & 불러오기

In [ ]:
# 데이터 저장
pdde_copu.to_csv("pdde_copu.csv", index = False)

# 데이터 로드
data = pd.read_csv("pdde_copu.csv")

### DataFrame Merge

In [ ]:
# 변수 = pd.merge(demo파일에 z를 'cust'를 기준으로 왼쪽으로 병합한다.)
# 두 데이터 프레임에 'cust' 컬럼이 반드시 있어야 함

result = pd.merge(demo, z, on="cust", how="left")

### 데이터 프레임 생략없이 출력 방법

In [ ]:
# https://jimmy-ai.tistory.com/134
# 숫자에 원하는 출력 숫자를 넣고 만약 None으로 넣으면 모든게 다 출력된다. pd.set_option('display.max_columns', None)

pd.set_option('display.max_columns', 숫자)
pd.set_option('display.max_rows', 숫자)