In [ ]:
# lpay 데이터 셋의 'de_dt' 컬럼에 value별로 몇개가 있는지 갯수 count 하고싶을때

lpay['de_dt'].value_counts()

### z01,z02, z03.. 이렇게 순서대로 정렬하고 싶으면 sort_values()

In [ ]:
# pdde 파일의 'rct_no' 컬럼에 '47192703' 문자가 들어있는 row 출력하기
# 471920703 만 들어가면 다 출력 예) io471920703 가능
# dtype이 문자열(object, string)일때만 가능

pdde[pdde['rct_no'].str.contains('471920703')]

### object형이나 int형 날짜를 datetime형으로 바꾸기 / 새로운 컬럼을 만들어서 년/월 폼으로 바꿔 넣기

In [ ]:
# results['payment_tm'] 컬럼을 하나 만들어서 년/월 폼으로 바꿔서 넣기
# format='%Y%m%d' 이걸 안적어주면 1970년대로 출력이 된다. 반드시 적어서 출력할것

results['de_dt'] = pd.to_datetime(results['de_dt'], format='%Y%m%d')
results['YearMonth'] = results['de_dt'].dt.strftime("%Y-%m")

# 다른 방법
pdde['YearMonth'] = pdde['de_dt'].map(lambda date: 100*date.year + date.month)

# 주별로 묶기

A01['week']=A01['de_dt'].dt.strftime("%W") # 00부터 시작해서 52까지 (2021년은 52까지)

### 한글 폰트 사용을 위한 세팅

In [ ]:
font_path = "C:/Users/katenam/AppData/Local/Microsoft/Windows/Fonts/malgun.ttf"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [ ]:
# 대용량 데이터 히트맵 다 나오게 출력
# 한글 컬럼 출력

from matplotlib import colors
font_path = "C:/Users/katenam/AppData/Local/Microsoft/Windows/Fonts/malgun.ttf"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

cmap = colors.ListedColormap(["#682F2F", "#9E726F", "#D6B2B1", "#B9C0C9", "#9F8A78", "#F3AB60"])

corr = data.corr()
plt.figure(figsize=(20,20))  
sns.heatmap(corr,annot=True, cmap=cmap, center=0)

### 중독되는 값이 있는지 확인

In [ ]:
# https://dev.to/svinci/intersection-union-and-difference-of-sets-in-python-4gkn

b3 = list(set(lpay_cust).intersection(pdde_cust))
# b3를 출력하면 중복된 값이 출력됨

# (a,b)는 a에는 있으나 b에는 없는 값 찾을때
# (b,a)는 b에는 있으나 a에는 없는 값 찾을때
a = lpay_pdde['cust'].unique()
b = lpay_demo['cust'].unique()
print(np.setdiff1d(a, b))
print(len(np.setdiff1d(a, b)))

C = list(set(x) - set(g))
print(C)

### Python Visualizations

In [ ]:
# https://www.kaggle.com/code/desalegngeb/plotly-guide-customize-for-better-visualizations
# https://www.kaggle.com/code/parulpandey/geek-girls-rising-myth-or-reality
# https://www.kaggle.com/code/imdevskp/covid-19-analysis-visualization-comparisons

### describe() 소수점 둘째자리까지 나오게 하기

In [ ]:
pd.set_option('display.float_format','{:,.2f}'.format)
pdde.describe()

### 그래프 그릴때 y축 눈금 지수 없애고 콤마 찍어서 숫자 나타내기

In [ ]:
current_values = plt.gca().get_yticks()
plt.gca().set_yticklabels(['{:,.0f}'.format(x) for x in current_values])

### outlier 찾기

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(10,4))
plt.xlim(-100, 150)
sns.boxplot(x=pdde.buy_ct)

### 얼마나 걸렸는지 시간을 보고싶을때(simple data)

In [ ]:
%%time

### Series에서 DataFrame으로 변환

In [ ]:
# Series name.to_frame(name='컬럼명')

p.to_frame(name='lpay_num')

### 데이터 프레임 index 이름 변환

In [ ]:
# DataFrame name.index.names = ['바꿀이름']

u.index.names = ['cust']

### csv로 데이터 저장 & 불러오기

In [ ]:
# 데이터 저장
pdde_copu.to_csv("pdde_copu.csv", index = False)

# 데이터 로드
data = pd.read_csv("pdde_copu.csv")

### DataFrame Merge

In [ ]:
# 변수 = pd.merge(demo파일에 z를 'cust'를 기준으로 왼쪽으로 병합한다.)
# 두 데이터 프레임에 'cust' 컬럼이 반드시 있어야 함

result = pd.merge(demo, z, on="cust", how="left")

### 데이터 프레임 생략없이 출력 방법

In [ ]:
# https://jimmy-ai.tistory.com/134
# 숫자에 원하는 출력 숫자를 넣고 만약 None으로 넣으면 모든게 다 출력된다. pd.set_option('display.max_columns', None)

pd.set_option('display.max_columns', 숫자)
pd.set_option('display.max_rows', 숫자)

# 데이터프레임.colunms 출력 결과 생략없이 다 나오게하기
pd.set_option('display.max_seq_items', None)

### 인덱스 정렬해서 출력 (.sort_index()), values를 정렬해서 출력 (.sort_values())

### 그래프 좋은 정보

In [ ]:
# https://rfriend.tistory.com/411

### 부울값(True, False)을 int형으로 변환하기

In [ ]:
# True, False로 되어있는 데이터를 True = 1. False = 0으로 변환하기
# 변수.astype(int)

df.astype(int)

### 특정 컬럼을 기준으로 내림차순 정렬

In [ ]:
# 여러개의 컬럼이 있을때 특정 컬럼 값의 내림차순으로 정렬
# 데이터변수.sort_values('특정컬럼', ascending = False)

itemset.sort_values("support", ascending = False)

### pivot_table

In [ ]:
# https://suy379.tistory.com/21

### float형을 int형으로 바꾸기

In [ ]:
# 데이터 프레임 demo_1의 ['spent']가 원래는 float형이었는데 int형으로 바꿈

demo_1['spent'] = demo_1['spent'].astype('int')

### 데이터 프레임 복수조건 검색

In [ ]:
demo_1[(demo_1['asso_num'] > 0) & (demo_1['lpay_num'] > 0)]

### 특정한 컬럼을 index로 set하기 (set_index())

In [ ]:
# 파일을 임포트하면 데이터 프레임은 index가 자동적으로 되어있는데 다른 컬럼을 index로 설정하고 싶을때 
# 데이터프레임.set_index('index로 하고싶은 컬럼명')

orders = orders.set_index('customer_id')

### concat, merge, join 정보

In [ ]:
# https://yganalyst.github.io/data_handling/Pd_12/
# pd.concat([데이터프레임, 데이터프레임], ignore_index=True).
# ignore_index = True 하면 데이터 프레임 두개 이어 붙이고 인덱스 재설정

result2 = pd.concat([df1,df2], ignore_index=True)

### Segmentation visualization

In [ ]:
# https://www.kaggle.com/code/fabiendaniel/customer-segmentation

### 컬럼명 변경

In [ ]:
# 데이터프레임명.rename(columns = {'바꾸고싶은컬럼(기존컬럼)' : '새로운컬럼명'}, inplace = True)

df.rename(columns = {'buy_am':'Revenue'},inplace=True)

### 데이터프레임 이용해서 새 컬럼 만들떄

In [ ]:
cust = demo['cust'].values

import warnings
warnings.filterwarnings('ignore')
from tqdm import tqdm

online = pd.DataFrame()
for i in tqdm(cust):
    if i in p_on['cust'].values:
        z = p_on[p_on['cust']== i]
        df = pd.DataFrame({'cust':z.cust.unique(), 'online':len(z)})
    else:
        a = demo[demo['cust'] == i]
        df = pd.DataFrame({'cust':a.cust, 'online':'0'})
    online =  pd.concat([online, df], ignore_index=True)

### countplot 정보

In [ ]:
# https://www.dataforeverybody.com/countplot-seaborn-order-size-values/

### Duration 구하기. 날짜 max - min

In [ ]:
a = pdde_lpay_copu[pdde_lpay_copu['cust'] == 'M430112881']
b = a['de_dt'].max() - a['de_dt'].min()
b.days

### 모든 행, 열 생략없이 출력

In [ ]:
# row 생략 없이 출력
pd.set_option('display.max_rows', None)

# col 생략 없이 출력
pd.set_option('display.max_columns', None)

### 인덱스로 정보 추출

In [ ]:
# 데이터 프레임.loc[인덱스번호]
# iloc 안됨

data.loc[3590]

### null값(NaN) 있는 열(row)만 추출

In [ ]:
# 데이터프레인[데이터프레임[특정컬럼].isnull()]

df[df['A'].isnull()]

### 중복되는 행, 열 제거 (drop_duplicates())

In [ ]:
df.drop_duplicates() #  내용이 중복되는 행(row)을 제거하는 메서드
df.drop_duplicates(subset='col2') # 컬럼 'col2'에만 중복되는 값이 있으면 중복되는 열 제거
df.drop_duplicates(subset='col1',keep='first') # keep인수를 통해서 중복값을 제거하고 남길 행을 선택할 수 있음. keep='first' 인 경우 처음 값을 남김.

### 리스트 중복 제거 (set())

### 리스트 max, min값 찾기

In [ ]:
# max값 찾기 = max(리스트)
# min값 찾기 = min(리스트)

max(diff)
min(diff)

### 결측값 0으로 변경하기

In [ ]:
# 데이터프레임.fillna(원하는 대체값)

demo_4 = demo_4.fillna(0) # 결측값을 0으로 변경

### 컬럼 순서를 변경하고 싶을때

In [ ]:
# 데이터프레임 = 데이터프레임.[['컬럼1','컬럼2'....]] 원하는 컬럼 순서대로 적기

demo_4 = demo_4[['cust','ma_fem_dv', 'ages', 'zon_hlv']

### index를 컬럼으로 바꾸고 싶을때

In [ ]:
# 데이터프레임 = 데이터프레임.reset_index()

off_num = off_num.reset_index()

### 컬럼을 index로 바꾸고 싶을때

In [ ]:
# 데이터프레임 = 데이터프레임.set_index('컬럼명')

off_num = off_num.set_index('name')

### 조건 추출 결과를 데이터프레임으로 저장하고 싶을때 (.to_frame)

In [ ]:
off = all_data[all_data['chnl_dv']==1]
off_num = off.groupby('cust')['rct_no'].nunique().to_frame()

### 문자열 txt 파일에 저장

In [ ]:
text1 = "안녕하세요! 디노랩스는 컨텐츠 공유 플랫폼입니다."
file = open("test_text1.txt", "w",encoding='UTF-8') 
file.write(text1)
file.close()

### null값의 열(row)만 출력

In [ ]:
all_data[all_data['clac_hlv_nm'].isnull()]

### 상관관계 높은 순서대로 출력

In [ ]:
corr_mat = players.corr()
corr_mat['컬럼명'].sort_values(ascending = False)

### 특정 조건에 맞는 데이터만 뽑아서 다시 데이터 프레임 만들기

In [ ]:
# 전체 데이터에서 6월에 갑자기 구매금액이 감소한 고객의 아이디만 추출하여 전체 데이터에서 이 아이디 정보만 뽑아서 다시 데이터 프레임으로 만들기

# cust = demo_5['cust'].values
# m = all_data[all_data['clac_hlv_nm']=='nan']
# u = m['cust'].unique()

import warnings
warnings.filterwarnings('ignore')
from tqdm import tqdm

cat = pd.DataFrame()
for i in tqdm(y):
    z = all_data[all_data['cust']== i]
#     df = pd.DataFrame({'cust':z.cust.unique(), 'nan':z['rct_no'].nunique(), 'nan_총금액':z['buy_am'].sum()})

    cat =  pd.concat([cat, z], ignore_index=True)

### 특정의 컬럼의 값을 한칸씩 내리기

In [ ]:
# 데이터프레임[컬럼] = 데이터프레임[컬럼].shift(숫자)

gw['일강수량(mm)']=gw['일강수량(mm)'].shift(1)
gw.head()

### 날짜 일(days) 빼기/더하기

In [ ]:
import datetime as dt

gw['de_dt'] = gw['de_dt'] + dt.timedelta(days=-2) # 2일 빼기
gw.head()

### 아웃라이어 제거하기

In [ ]:
# https://hungryap.tistory.com/69

#1
import numpy as np

def outliers_iqr(data):
    q1,q3=np.percentile(data,[25,75])
    iqr=q3-q1
    lower_bound=q1-(iqr*1.5)
    upper_bound=q3+(iqr*1.5)
    
    return np.where((data>upper_bound)|(data<lower_bound))

#2
spent_lead_outlier_index = outliers_iqr(temp['spent'])[0]
freq_lead_outlier_index = outliers_iqr(temp['freq'])[0]
onnum_lead_outlier_index = outliers_iqr(temp['on_num'])[0]
offnum_lead_outlier_index = outliers_iqr(temp['off_num'])[0]
assonum_lead_outlier_index = outliers_iqr(temp['asso_num'])[0]
duration_lead_outlier_index = outliers_iqr(temp['duration'])[0]

#3
lead_outlier_index=np.concatenate((spent_lead_outlier_index,
                                  freq_lead_outlier_index,
                                  onnum_lead_outlier_index,
                                  offnum_lead_outlier_index,
                                  assonum_lead_outlier_index,
                                  duration_lead_outlier_index))
print(len(lead_outlier_index))

#4
lead_not_outlier_index=[]

for i in temp.index:
    if i not in lead_outlier_index:
        lead_not_outlier_index.append(i)

#5
temp_clean = temp.loc[lead_not_outlier_index]
temp_clean = temp_clean.reset_index(drop=True)
temp_clean.head()

### boxplot이 잘 안나올때 log 사용하기

In [ ]:
demo_11['store_num_log'] = np.log(demo_11.store_num + 0.01)

### 특정 컬럼의 값을 변경

In [ ]:
# https://seong6496.tistory.com/234?category=903876
# 데이터프레임.replace({'원하는컬럼' : {기존값 : 변경값}})

demo_13 = demo_13.replace({'Shop_day':{1:'Mon'}})
demo_13.head()

### 데이터 프레임에서 특정 컬럼의 순서대로 정렬하기

In [ ]:
# df 데이터 프레임으로 week의 순서대로 정렬하기 ex)1, 2, 3, 4...

df = df.sort_values(by=['week'])